<div class="containe full-height">
  <div class="row" style="margin-top: 50px;">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
          </div>
          <form class="form-signin" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <label for="inputEmail">Username</label>
            <div class="form-label-group">
              <input
                type="text"
                class="form-control input-group-lg"
                id="inputUsername"
                placeholder="Email address"
                required
                autofocus
                ngModel
                name="username"
              />
              <!--  -->
            </div>
            <label for="inputPassword">Password</label>
            <div class="form-label-group">
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                required
                ngModel
                name="password"
              />
            </div>

            <button
              class="btn btn-lg btn-primary btn-block"
              type="submit"
              id="signInBtn"
            >
              Sign in
            </button>
            <hr class="my-4" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
