<div class="col-md-4" style="text-align: center;">
  <figure
    class="snip1174 navy col-md-4 mx-auto img-responsive"
    style="text-align: center; display: block;"
  >
    <img
      src="{{ player.teamImagePath }}"
      style="text-align: center;"
      alt="sq-sample33"
    />
    <figcaption>
      <h2>{{ player.name }}</h2>
      <p>
        {{ player.description }}
      </p>
      <p>Strength: {{ player.strength }}</p>
      <p>Weakness: {{ player.weakness }}</p>
      <p>Suitability: {{ player.suitability }}</p>
      <a style="cursor: pointer;" (click)="removeFromTeam()"
        >Remove from team</a
      >
    </figcaption>
  </figure>
</div>
